<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav><%= link_to 'Create a new post!', new_post_path %><hr></nav>
    <%= yield %>
  </body>
</html>
